/*
font-family: 'Cinzel', serif;
font-family: 'Srisakdi', cursive;

*/

/* color
purple  #797bbc
light purple #ebeef5 
yellow  #ffcd76
blue  #00a9d1

*/

/* basic seeting */
section {
  margin: 3em 0;
}
a {
  text-decoration-line: none;
  color: black;
}

ul {
  list-style-type: none;
}
.hidden {
  display: none;
}
.gradientBG {
  background: radial-gradient(circle, rgba(238, 174, 202, 1) 0%, rgba(148, 187, 233, 1) 100%);
}
body {
  margin: 0;
  padding: 0;
}

h4 {
  font-weight: 700;
}

h1,
h2,
h3,
h5 {
  
  text-align: center;
  font-family: "Cinzel", serif;
  font-weight: 700;
  color: #797bbc;
}
.lighter {
  font-weight: 100;
}

.titleFonts {
  font-family: "Cinzel", serif;
  font-weight: 400;
}

/* menu */
#topWeb {
  margin-top: 2em;
  display: flex;
  justify-content: space-between;
}
#logo {
  font-family: "Srisakdi", cursive;
  font-weight: bold;
  font-size: 30px;
  color: #204e5f;
}
#mainMenu {
  display: block;
  background-color: pink;
  width: 20%;
}

#menuIcon {
  margin-left: 2em;
  width: 3em;
  cursor: pointer;
  -webkit-filter: drop-shadow(2px 2px 2px gray);
  filter: drop-shadow(2px 2px 2px gray);
  transition: transform 0.2s;
}

#menuIcon:hover {
  -webkit-filter: drop-shadow(4px 4px 4px gray);
  filter: drop-shadow(4px 4px 4px gray);
}

#socialMedia li {
  display: inline;
  margin-right: 1em;
}
/* #fullScreenMask {
  display: none;
  position: absolute;
  top: 6em;
  width: 100%;
  height: 200%;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.55);
} */
#menuColumn {
  width: 20%;
  display: block;
}
.menuSpan {
  font-size: 1.2em;
  color: #797bbc;
}
.menuSpan a {
  display: block;
}

#socialMedia {
  margin-right: 2em;
}
/* banner */
#banner {
  /* background-image: url(../images/4.png); */
  width: 100%;
  height: 100%;
}

#banner > div > p {
  text-align: center;
  font-size: 1.5em;
}
#introText {
  display: block;
  width: 60%;

  margin: 0 auto;
}
button {
  display: block;
  margin: 0 auto;
  border: none;
  padding: 1em;
  border-radius: 0.7em;

  background-color: #797bbc;
}
button a {
  color: white;
}
button a:hover {
  color: #797bbc;
}
button:hover {
  outline: #204e5f;
  background-color: #ebeef5;
}

/* about me */
#aboutMe {
  display: flex;
  justify-content: center;
}
#aboutMe > div {
  text-align: center;
}

/* .box{
    box-sizing: border-box;
    box-sizing:content-box; 
    border: thick double  rgba(238, 174, 202, 1);
    background-color: pink;
    border: 5px solid  rgba(238, 174, 202, 1);
    width: 70%;
} */
#aboutMe > div > p > a {
  text-decoration: underline;
}

/* projects */

table {
  
  border-collapse: collapse;
  margin: 0 auto;
  width: 90%;

  
   
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #ebeef5;
}

/* HOME CONTACT */
form{
  
  text-align: center;
  padding-bottom: 3em;
}
#formBack{
 width: 70%;
 display: block;
 margin: 0 auto;
 margin-top: 2em;
 margin-bottom: -3em;
  background-color:  rgba(255, 255, 255, 0.5); 
  padding: 3em 2em;
  
}

input,#Textarea,#submit {
  margin: 0 auto;
  margin: 1.5em;
  width: 60%;
  padding: 1.5em 3em;

  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* box-sizing: border-box; */
}


#contactTitle {
  padding-top: 3em;
  color: white;
}
#submit{
  color: white;
  width: 70%;
}


/* footer */
footer {
  display: flex;
  justify-content: center;
  margin-top: 100px;
  margin-bottom: 100px;
}

footer > div > p {
  text-align: center;
}

/* lightbox */
.lightbox {
  display: none;
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  /* height: 100%; */
  text-align: center;
  background-color: rgba(0, 0, 0, 0.55);
}

.close-lightbox {
  /* x */
  position: absolute;
  right: 3em;
  top: 3em;
  font-family: arial, helvetica, sans-serif;
  font-size: 2em;
  font-weight: bold;
  color: white;
  cursor: pointer;
}
.close-lightbox:hover {
  color: pink;
}
.show {
  cursor: pointer;
  -webkit-filter: drop-shadow(5px 5px 5px gray);
  filter: drop-shadow(5px 5px 5px gray);
  transition: transform 0.6s;
}

.zoom:hover {
  -ms-transform: scale(1.1); /* IE 9 */
  -webkit-transform: scale(1.1); /* Safari 3-8 */
  transform: scale(1.1);
}

/* media query */
/* Extra small devices (portrait phones, less than 576px) 
@media (max-width: 575.98px) {
  #banner,#aboutMe,#contactSection{
    display: flex;
    flex-direction: column;
  }

 }*/

/* Small devices (landscape phones, less than 768px) */

@media (max-width: 767.98px) {
  #banner,
  #aboutMe,
  #socialMedia {
    display: none;
  }
}

/* Medium devices (tablets, less than 992px) */
@media (max-width: 991.98px) {
}

/* Large devices (desktops, less than 1200px) */
@media (max-width: 1199.98px) {
}
